// Variables.scss

$primary-blue: 212 100% 23%;
$secondary-red: 358 85% 53%;
$secondary-light-blue: 201 95% 44%;
$secondary-lighter-blue: 215 100% 97%;

$neutral-black: 212 100% 7%;
$neutral-white: 0 0% 100%;
$neutral-gray: 212 9% 61%;
$neutral-light-gray: 211 17% 76%;
$neutral-lighter-gray: 0 0% 98%;

$size-sm: clamp(0.7rem, -0.08vw + 0.75rem, 1rem);
$size-base: clamp(0.8rem, 0.85rem, 1rem);
$heading-1: clamp(2.14rem, 1.14vw + 1.85rem, 2.76rem);
$heading-2: clamp(1.71rem, 0.66vw + 1.54rem, 2.07rem);
$heading-3: clamp(1.37rem, 0.34vw + 1.28rem, 1.55rem);
$heading-4: clamp(1.09rem, 0.13vw + 1.06rem, 1.17rem);
$heading-5: $size-base;

$font-headings: 'Merriweather', serif;
$font-body: 'Poppins', sans-serif;

$shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.09);
$text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.09);
