@use 'reset';
@use 'bootstrap/bootstrap-grid';
@use 'variables' as *;

/* || Estilos generales */

body {
    font-family: $font-body;
    font-size: $size-base;
    color: hsl($neutral-black);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

::-moz-placeholder,
::placeholder {
    color: hsl($neutral-light-gray);
}

a {
    color: hsl($primary-blue);
    text-decoration: none;
    transition: color 150ms ease-in;
    &:hover {
        color: hsl($secondary-light-blue);
    }
    &.btn {
        display: inline-block;
        padding: 0.5rem 1rem;
        margin-block: 0.25rem;
        border-radius: 0.25rem;
        font-weight: 600;
        &.is-primary {
            background-color: hsl($primary-blue);
            color: hsl($neutral-white);
            &:hover {
                background: adjust-color(hsl($primary-blue), $lightness: -5%);
                color: hsl($neutral-white);
            }
        }
        &.is-secondary {
            background-color: hsl($secondary-red);
            color: hsl($neutral-white);
            &:hover {
                background: adjust-color(hsl($secondary-red), $lightness: -5%);
                color: hsl($neutral-white);
            }
        }
    }

    &.link {
        padding-block: 0.5rem;
        display: inline-block;
        &.is-dark {
            color: hsl($neutral-black);
        }
        &:hover {
            text-decoration: underline;
        }
    }

    &.is-accent {
        color: hsl($secondary-light-blue);
        &:hover {
            color: adjust-color(hsl($secondary-light-blue), $lightness: -5%);
        }
    }

    &.is-secondary {
        color: hsl($secondary-red);
        &:hover {
            color: adjust-color(hsl($secondary-red), $lightness: -5%);
        }
    }
}

.tag {
    display: block;
    color: hsl($secondary-red);
    font-size: $size-sm;
    padding: 0.5rem;
    font-weight: 500;
    &.is-secondary {
        background: hsl($secondary-lighter-blue);
        color: hsl($secondary-light-blue);
    }
}

svg {
    fill: currentColor;
}

.card {
    background: hsl($neutral-white);
    cursor: pointer;
    color: hsl($primary-blue);
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
    border-radius: 0.25rem;
    border-left: 4px solid hsl($secondary-red);
    font-weight: 600;
    transition: box-shadow 400ms ease-in;
    h4 {
        max-height: 4rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &.is-blue {
        background: hsl($secondary-lighter-blue);
    }
    &.is-large {
        padding: 2rem;
    }
    &.no-border {
        border: 0;
    }
    &.no-shadow {
        &:hover {
            box-shadow: none;
        }
    }
    &.border-top {
        border: 0;
        border-top: 4px solid hsl($secondary-red);
    }
    &.vertical {
        flex-direction: column;
        align-items: flex-start;
    }
    &:hover {
        box-shadow: $shadow;
    }
}

.special-card {
    @extend .white-bg;
    @extend .h-100;
    @extend .p-5;
    @extend .box-shadow;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    .text {
        flex: 1;
    }
}

blockquote {
    &.blockquote {
        @extend .card;
        @extend .light-blue-bg;
        color: hsl($neutral-black);
        font-weight: 500;
        padding: 2rem 1.5rem;
    }
}

details:not(.details) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    summary {
        padding: 1.5rem;
        cursor: pointer;
        border: 1px solid rgba(0, 56, 118, 0.4);
        border-radius: 0.25rem;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        .title {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
    &[open] {
        summary {
            background-color: hsl($secondary-lighter-blue);
            border-bottom: 1px solid hsl($neutral-light-gray);
            border-radius: 0.25rem 0.25rem 0 0;
        }
    }
}

/* || Textos y tipografía */

p,
li {
    overflow-wrap: break-word;
    hyphens: auto;
}

.ul {
    padding-left: 1.5rem;
    margin: 0;
    li {
        margin-bottom: 1rem;
    }
}

.ol {
    ol {
        list-style-type: lower-alpha;
        margin-top: 1rem;
        li {
            margin-bottom: 0.5rem;
        }
    }
}

h1,
h2,
h3,
h4,
h5 {
    color: hsl($primary-blue);
    margin-bottom: 0.5rem;
}

h1 {
    font-size: $heading-1;
    font-family: $font-headings;
}
h2 {
    font-size: $heading-2;
    font-family: $font-headings;
}
h3 {
    font-size: $heading-3;
    font-family: $font-headings;
}

h4 {
    font-size: $heading-4;
    font-family: $font-headings;
}

h5 {
    font-size: $heading-5;
}

.small {
    font-size: $size-sm;
}

.is-uppercase {
    text-transform: uppercase;
}

.text-black {
    color: hsl($neutral-black) !important;
}

.text-gray {
    color: hsl($neutral-gray) !important;
}

.text-white {
    color: hsl($neutral-white) !important;
}

.text-accent {
    color: hsl($secondary-light-blue) !important;
}

.text-red {
    color: hsl($secondary-red) !important;
}

.text-underline {
    text-decoration: underline;
}

.text-italic {
    font-style: italic;
}

.text-normal {
    font-weight: 500;
}

.text-semibold {
    font-weight: 600;
}

.text-primary {
    color: hsl($primary-blue) !important;
}

input {
    color: hsl($neutral-black);
    font-size: $size-sm;
    padding: 0.5rem 1rem;
    border: 1px solid hsl($neutral-light-gray);
    border-radius: 0.25rem;
    &:focus,
    &:focus-within,
    &:focus-visible {
        outline: 2px solid hsl($secondary-light-blue);
    }
}

.select {
    // appearance: none;
    display: inline-block;
    font-size: $size-sm;
    background: white;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    border: 1px solid hsl($neutral-light-gray);
    width: 100%;
}

label {
    color: hsl($primary-blue);
    font-size: 0.75rem;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0.5rem;
}

button {
    background: transparent;
    cursor: pointer;
    border: 0;
    &.btn {
        display: inline-block;
        padding: 0.75rem 1rem;
        margin-block: 0.25rem;
        border-radius: 0.25rem;
        font-weight: 600;
    }
    &.is-primary {
        background: hsl($primary-blue);
        color: hsl($neutral-white);
        &:hover {
            background-color: adjust-color(hsl($primary-blue), $lightness: -8%);
        }
    }
    &.is-secondary {
        background: hsl($secondary-red);
        color: hsl($neutral-white);
        &:hover {
            background-color: adjust-color(hsl($secondary-red), $lightness: -8%);
        }
    }
    &.is-rounded {
        border-radius: 0.25rem;
    }
    &.rounded-full {
        border-radius: 50%;
        line-height: 1rem;
        padding: 0.85rem 1rem;
    }
}

.circle-img {
    aspect-ratio: 1/1;
    border-radius: 100%;
    max-height: 120px;
    overflow: hidden;
    img {
        object-fit: contain;
        object-position: center;
    }
}

/* || Utilidades y helpers */
.img-responsive {
    width: 100%;
    height: auto;
}

.box-shadow {
    box-shadow: $shadow;
}

.text-shadow {
    text-shadow: $text-shadow;
}

.form-control {
    margin-block: 0.5rem;
    display: block;
    width: 100%;
    input {
        width: 100%;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.ol {
    list-style: none;
    padding: 0;
    counter-reset: num;
    li {
        counter-increment: num;
        margin-bottom: 1rem;
        display: flex;
        &::before {
            content: counter(num);
            width: 24px;
            height: 24px;
            font-family: $font-headings;
            padding: 0.85rem;
            margin-right: 0.5rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: hsl($primary-blue);
            color: hsl($neutral-white);
        }
    }
}

.separator {
    height: 2px;
    width: 100%;
    margin-block: 1rem;
    background: hsl($secondary-lighter-blue);
    &.is-large {
        margin-block: 3rem;
        height: 8px;
    }
}

.border {
    border-width: 1px;
    border-style: solid;
    &-top {
        border-top-width: 1px;
        border-bottom-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        &.border-2 {
            border-top-width: 2px;
            border-bottom-width: 0;
            border-left-width: 0;
            border-right-width: 0;
        }
        &.border-3 {
            border-top-width: 3px;
            border-bottom-width: 0;
            border-left-width: 0;
            border-right-width: 0;
        }
        &.border-4 {
            border-top-width: 4px;
            border-bottom-width: 0;
            border-left-width: 0;
            border-right-width: 0;
        }
    }
    &-bottom {
        border-top-width: 0;
        border-bottom-width: 1px;
        border-left-width: 0;
        border-right-width: 0;
        &.border-2 {
            border-top-width: 0;
            border-bottom-width: 2px;
            border-left-width: 0;
            border-right-width: 0;
        }
        &.border-3 {
            border-top-width: 0;
            border-bottom-width: 3px;
            border-left-width: 0;
            border-right-width: 0;
        }
        &.border-4 {
            border-top-width: 0;
            border-bottom-width: 4px;
            border-left-width: 0;
            border-right-width: 0;
        }
    }
    &-left {
        border-top-width: 0;
        border-bottom-width: 0;
        border-left-width: 1px;
        border-right-width: 0;
    }
    &-right {
        border-top-width: 0;
        border-bottom-width: 0;
        border-left-width: 0;
        border-right-width: 1px;
    }

    &-2 {
        border-width: 2px;
    }

    &-3 {
        border-width: 3px;
    }

    &-4 {
        border-width: 4px;
    }
    &-5 {
        border-width: 5px;
    }

    &-primary {
        border-color: hsl($primary-blue);
    }
    &-secondary {
        border-color: hsl($secondary-red);
    }
    &-light {
        border-color: hsl($secondary-lighter-blue);
    }

    &-white {
        border-color: hsl($neutral-white);
    }

    &-gray {
        border-color: hsl($neutral-light-gray);
    }
}

// Margenes negativos

$margins: (
    'l': 'left',
    't': 'top',
    'b': 'bottom',
    'r': 'right',
);

@each $class, $position in $margins {
    @for $m from 1 through 5 {
        @media screen and (min-width: 40rem) {
            .m#{$class}-n#{$m} {
                margin-#{$position}: $m * -1rem;
            }
        }
    }
}

@for $m from 1 through 5 {
    .mt-md-n#{$m} {
        margin-top: -#{$m}rem;
    }
}

.w-50 {
    width: 100%;
    @media screen and (min-width: 40rem) {
        width: 50%;
        max-width: 50%;
    }
}

.w-60 {
    width: 100%;
    @media screen and (min-width: 40rem) {
        width: 60%;
        max-width: 60%;
    }
}

.w-75 {
    width: 100%;
    @media screen and (min-width: 40rem) {
        width: 75%;
        max-width: 75%;
    }
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.white-bg {
    background-color: hsl($neutral-white);
}

.light-blue-bg {
    background-color: hsl($secondary-lighter-blue);
}

.dark-bg {
    background: hsl($primary-blue);
    color: hsl($neutral-white);
}

.gray-bg {
    background: hsl($neutral-lighter-gray);
}

.split-bg {
    background: hsl($neutral-lighter-gray);
    @media screen and (min-width: 40rem) {
        background: linear-gradient(
            to right,
            hsl($neutral-lighter-gray) 0%,
            hsl($neutral-lighter-gray) 35%,
            hsl($secondary-lighter-blue) 35%,
            hsl($secondary-lighter-blue) 100%
        );
    }
}

.gap-sm {
    gap: 0.5rem;
}

@for $i from 1 through 5 {
    .gap-#{$i} {
        gap: #{$i}rem;
    }
}

@for $b from 1 through 5 {
    .br-#{$b} {
        border-radius: #{$b}rem;
    }
}

/* || Cabecera */

.top-bar {
    font-size: $size-sm;
}

.logo-area {
    color: hsl($neutral-white);
    background-color: hsl($primary-blue);
}

.logo {
    text-transform: uppercase;
    a {
        color: hsl($neutral-white);
    }
    h4 {
        max-width: 11ch;
        font-weight: 600;
        font-family: $font-body;
        line-height: 1;
    }
    img {
        padding-right: 1rem;
        margin-right: 1rem;
        border-right: 2px solid hsl($neutral-white);
    }
}

.search-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    .search-bar {
        padding-right: 1rem;
        margin-right: 1rem;
        border-right: 2px solid hsl($neutral-white);
        input {
            border-radius: 2rem;
            margin-right: -2rem;
        }
    }
}

.main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 0.75rem;
    justify-content: space-between;
    li {
        a {
            padding: 1rem;
            display: inline-block;
        }
        &.is-dropdown {
            position: relative;
            &::after {
                position: absolute;
                right: 0;
                display: inline-block;
                margin-inline-start: 0.5rem;
                top: 50%;
                transform: translateY(-50%);
                font-family: 'FontAwesome';
                content: '\f078';
            }
            &:hover ul {
                display: block;
            }
        }
    }
}

.sub-menu {
    display: none;
    z-index: 3;
    list-style: none;
    position: absolute;
    min-width: 30ch;
    top: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl($neutral-white);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.secondary-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* || Secciones y contenido */

// Carousel styles

.splide {
    position: relative;
    h2 {
        text-shadow: $text-shadow;
        color: hsl($neutral-white) !important;
    }
    &__track {
        height: 65vh;
    }
    &__arrows {
        position: absolute;
        z-index: 2;
        left: 5vw;
        bottom: 1rem;
        @media screen and (min-width: 40rem) {
            left: 15vw;
        }
        &.narrow {
            left: 2vw;
            + .splide__pagination {
                left: 6vw;
            }
        }
        .splide__arrow {
            background: transparent;
            border: none;
            cursor: pointer;
        }
    }
    &__slide {
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            filter: brightness(0.8);
        }
        .slide__text {
            position: absolute;
            display: none;
            @media screen and (min-width: 40rem) {
                display: block;
                bottom: 6rem;
                left: 15vw;
                max-width: 120ch;
            }
            &.narrow {
                left: 2vw;
            }
        }
    }
    &__pagination {
        position: absolute;
        bottom: 2rem;
        left: 19vw;
        z-index: 2;
        &__page {
            border: none;
            cursor: pointer;
            min-width: 2rem;
            height: 0.25rem;
            border-radius: 0.25rem;
            background-color: hsl($neutral-white);
            opacity: 0.5;
            margin-inline: 0.25rem;
            &.is-active {
                background: hsl($secondary-red);
                opacity: 1;
            }
        }
    }
}

section {
    padding-block: 1rem;
    @media screen and (min-width: 40rem) {
        padding-block: 4rem;
    }
}

.title-section {
    background: hsl($secondary-lighter-blue);
    padding-block: 2.5rem;
    h1,
    h2,
    h3,
    h4 {
        color: hsl($primary-blue);
    }
    &.is-expanded {
        padding-block-end: 2rem;
        @media screen and (min-width: 40rem) {
            padding-block-end: 8rem;
        }
    }
    &.is-inverted {
        background:
            linear-gradient(0deg, rgba(0, 56, 118, 0.85) 0%, rgba(0, 56, 118, 0.85) 100%),
            url('../img/hacienda-fachada.png') no-repeat center / cover;
        h1,
        h2,
        h3,
        h4 {
            color: hsl($neutral-white);
        }
    }
}

.banner-image {
    max-height: 30rem;
    overflow: hidden;
    border-radius: 4px;
    img {
        object-fit: cover;
    }
}

.striped-rows {
    padding: 0;
    &_row {
        padding-block: 2.5rem;
        &:nth-child(odd) {
            background: hsl($neutral-lighter-gray);
        }
    }
}

.publications {
    display: flex;
    flex-direction: column;
}

.services {
    display: flex;
    flex-wrap: wrap;
    > * {
        flex: 1 0 calc(50% - 1rem);
    }
}

.service-card {
    padding: 1rem;
    box-shadow: none;
    h5 {
        margin: 0;
    }
    img {
        margin-inline-end: 1rem;
    }
    @media screen and (min-width: 40rem) {
        background: hsl($neutral-white);
        border-radius: 0.25rem;
        padding: 3rem;
        box-shadow: $shadow;
        svg {
            fill: hsl($secondary-light-blue);
        }
    }
}

.logos-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    > * {
        flex: 1 0 calc(33% - 1rem);
    }
}

.breadcrumbs {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    margin: 0;
    padding: 1rem;
    font-size: $size-sm;
    .is-disabled {
        pointer-events: none;
        color: hsl(212, 9%, 61%);
    }
}

.detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    color: hsl($primary-blue);
    font-weight: 600;
    border: 1px solid rgba(0, 56, 118, 0.4);
}

.news-item {
    width: 24rem;
    height: 18rem;
    position: relative;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-inline: 0.5rem;
    transition: all 200ms ease-in;
    &:hover {
        box-shadow: $shadow;
        &::after {
            opacity: 0.9;
            transition: all 200ms ease-in;
        }
    }
    &::after {
        content: '';
        position: absolute;
        border-radius: 0.25rem;
        inset: 0;
        border-radius: 4px;
        background: linear-gradient(0deg, rgba(0, 56, 118, 0.4) 0%, rgba(0, 56, 118, 0.4) 100%),
            linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
        z-index: 1;
    }
    img {
        border-radius: 0.25rem;
        object-fit: cover;
        height: 100%;
        filter: contrast(0.7);
    }
    h4 {
        position: absolute;
        margin: 0;
        max-height: 4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        bottom: 2rem;
        left: 1rem;
        right: 1rem;
        z-index: 2;
        text-shadow: $text-shadow;
    }
}

.news-card {
    display: flex;
    flex-direction: column;
    margin-block: 1rem;
    gap: 1rem;
    img:not(.img-publicaciones) {
        object-fit: cover;
        min-width: 22rem;
        width: 100%;
        height: 13rem;
        align-self: flex-start;
        border-radius: 0.25rem;
    }
    .img-publicaciones {
        @extend .img-responsive;
        aspect-ratio: 4/5;
        object-fit: cover;
        max-width: 14rem;
        &.small {
            max-width: 16rem;
        }
    }
    .tag {
        display: block;
        font-size: $size-sm;
        color: hsl($secondary-light-blue);
    }

    .meta {
        color: hsl($neutral-light-gray);
    }
}

.media-card {
    @extend .news-card;
    img {
        min-width: 100%;
    }
    h4 {
        height: 4rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .media-thumbnail {
        position: relative;
        cursor: pointer;
        &::before {
            content: '\f04b';
            font-family: 'FontAwesome';
            padding: 1rem 1.25rem;
            border-radius: 50%;
            border: 2px solid hsl($neutral-white);
            font-size: 2rem;
            line-height: 2rem;
            color: hsl($neutral-white);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            z-index: 2;
        }
        &::after {
            content: '';
            background: linear-gradient(0deg, rgba(0, 56, 118, 0.4) 0%, rgba(0, 56, 118, 0.4) 100%);
            position: absolute;
            inset: 0;
            z-index: 1;
        }
    }
}

.blog-content {
    p {
        margin-bottom: 1rem;
        line-height: 1.5rem;
        color: hsl($neutral-black);
        font-size: inherit;
    }
}

/* || Pie de página */

footer {
    padding-block: 2rem;
    @media screen and (min-width: 40rem) {
        padding-block: 5rem;
    }
    background: hsl($primary-blue);
    color: hsl($neutral-white);
    a {
        color: hsl($neutral-white);
        &:hover {
            color: inherit;
            text-decoration: underline;
        }
    }
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    @media screen and (min-width: 40rem) {
        justify-content: flex-end;
    }
}

.footer-logo {
    @media screen and (min-width: 40rem) {
        border-right: 2px solid #fff;
        padding-right: 2rem;
    }
}

.certifications {
    display: none;
    padding-block: 0.5rem;
    @media screen and (min-width: 40rem) {
        padding-block: 2rem;
        display: block;
    }
    .stamps {
        display: flex;
    }
}

.copyright {
    color: hsl($primary-blue);
    text-align: center;
    text-transform: uppercase;
    padding-block: 1rem;
    border-top: 1px solid hsl($neutral-light-gray);
    @media screen and (min-width: 40rem) {
        text-align: left;
        text-transform: none;
    }
}
